/*
name: crafesFunctionBar.scss
description: ユーザーアイコン,ヘッダーのscss
*/
@media screen and (min-width:1024px) {
  .components_crafesFunctionBar {
    border-right: 2px darkgray solid;
    background-color: white;
    height: 100vh;

    &_buttons {
      display: block;

      &_button {
        display: block;
        width: 50%;
        margin: 0 auto;
        a {
          display: flex;
          align-items: center;
          margin-top: 24px;
          p {
            color: black;
            font-size: 16px;
            font-weight: bold;
          }
          i {
            width: 28px;
            color: #2c4f54;
            font-size: 28px;
            margin-right: 24px;
          }
        }
      }

      &_micropostButton {
        width: 60%;
        margin: auto;
        margin-top: 48px;
        color: white;
        background-color: #5c9291;
        padding: 8px 16px;
        border-radius: 60px;
        text-align: center;
        a {
          display: block;
          color: white;
          width: 100%;
        }
      }

      &_topicButton {
        width: 60%;
        margin: auto;
        margin-top: 24px;
        margin-bottom: 48px;
        color: white;
        background-color: #2c4f54;
        padding: 8px 16px;
        border-radius: 60px;
        text-align: center;
        a {
          display: block;
          color: white;
          width: 100%;
        }
      }
    }
  }
}
