@media screen and (min-width:960px){
  .home .topSection {

    hr {
      border: 0.5px black solid;
      margin: 15px 0;
    }

    // topSection-css-Start

    background: url("http://urx.blue/TlC9") no-repeat;
    background-size: cover;
    height: 90%;
    display: flex;


    // topSection-css-End

    &_backGroundSection {
      color: white;
      width: 50%;
      padding: 22% 0 0 20px;

      .title {
        line-height: 1.3;
        margin-bottom: 30px;

        &-firstLine {
          font-size: 70px;
        }

        &-secondLine {
          font-size: 32px;
        }
      }

      .descript {
        font-size: 20px;
        margin-bottom: 30px;
      }
    }

    &_signUpSection {
      display: flex;
      align-items: center;
      justify-content: center;

      .signUpForm {
        background-color: white;
        border-radius: 10px;
        padding: 20px 20px;
        width: 75%;

        .container {
          margin: 0 30px;
        }

        .app_recaptcha {
          margin: 8px 0;
          transform: scale(0.8);
        }

        &_descript {
          font-size: 12px;
        }

        &-title {
          font-size: 26px;
        }

        .container > p {
          margin: 10px 0;
        }

        &_submit {
          background-color: #ec6d51;
          border-radius: 20px;
          padding: 5px 40px;
          border: 0px;
          color: white;
          font-size: 16px;
          transition: .6s;
          &:hover {
            background-color: #ec6d51 * 1.5;
            transition: .6s;
          }

          &_twitter {
            background-color: #55acee;
            i {
              padding-right: 5px;
            }
            &:hover {
              background-color: #55acee * 1.3;
              transition: .6s;
            }
          }


        }
        &_inputGroup {
          display: flex;
          margin-top: 15px;
        }

        &_inputGroup_container {
          width: 50%;
          input[type="text"], input[type="password"] {
            margin-top: 5px;
            width: 90%;
            font-size: 16px;
            height: 25px;
            padding: 3px 7px;
            border-radius: 3px;
            border: 0.5px gray solid;
            background-color: aliceblue;
          }
        }
      }
    }
  }
}
