/*
name: loginButton.scss
description: ログインボタンコンポーネントのscss
*/

@media screen and (max-width:425px) {
	.components_loginButton {
		display:block;
		border: 2px white solid;
		color: white;
		border-radius: 20px;
		margin: 20px auto 0;
		padding: 4px 28px;
		font-size: 16px;
		width: 80%;
	}
}
