@media screen and (min-width:1024px) {

  .crafes {
    .application_header {

      background: #2c4f54;
      height: 50px;
      color: white;

      &_mobile {
        display: none;
      }


      &_naviList {
        display: flex;

        i {
          padding-right: 5px;
        }

        height: 100%;
        &_group {
          margin: 0 auto;
          width: 100%;
          height: 100%;
          text-align: center;
          line-height: 50px;

          &-image {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        a {
          color: white;
          height: 50px;
          display: block;
        }
        img {
          display: block;
          height: 80%;
          border-radius: 50%;
          margin: auto 0;
          line-height: 50px;
        }
      }
    }

    &_noticeLine {
      article {
        padding: 3px 10px;
        border-radius: 5px;
        background-color: white;

        hr {
          margin-top: 5px;
          border: 0.5px solid gray;
        }

        &:hover {
          //background-color: #F7F8FA;
        }

        img {
          width: 8%;
          border-radius: 50%;
        }
      }

      &_title {
        display: block;
        font-size: 1.2em;
        padding: 5px;
      }

      &_detail {
        margin-top: 10px;
      }
    }
  }

}
