#? stdtmpl | standard
# proc indexTmpl(jsPath: string): string =
# result = ""
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Hello, Blackvas</title>
    <meta charset="utf-8" />
    <script src="$jsPath"></script>
  </head>
  <body>
    <div id="Blackvas"></div>
  </body>
</html>