.tc_currentUserInfo_conditionCard_line_dataGroup
  p.tc_currentUserInfo_conditionCard_line_dataGroup-dataName= dataname
  = link_to link do
    p.tc_currentUserInfo_conditionCard_line_dataGroup-data= data
