@media screen and (min-width:1024px) {
  .common {
    &_release {
      &_container {
        textarea {
          width: 80%;
          font-size: 16px;
        }

        input[type="text"] {
          width: 80%;
          font-size: 13px;
        }

        input[type="submit"] {
          font-size: 15px;
          margin-right: 15%;
        }

        i {
          font-size: 30px;
        }
      }
    }
  }

  .common {
    &_release {
      background-color: #c9deff;
      margin-top: 10px;
      padding: 10px 4px;

      &_container {
        display: flex;
        align-items: flex-start;

        &_icon {
          object-fit: cover;
          border-radius: 50%;
          width: 5%;
          margin-left: 5%;
          margin-right: 2%;
        }

        form,p {
          display: block;
          width: 100%;
        }

        textarea {
          height: 60px;
          resize: none;
          border: 2px solid #007bbb;
          border-radius: 10px;
          padding: 10px;
          outline: none;
          margin: 0 auto;
        }

        input[type="text"] {
          height: 10px;
          resize: none;
          border: 2px solid #007bbb;
          border-radius: 10px;
          padding: 10px;
          outline: none;
          margin: 0 auto 10px;
        }

        input[type="submit"] {
          display: block;
          width: 100px;
          border: 2px #007bbb solid;
          background-color: white;
          color: #007bbb;
          font-weight: bold;
          font-size: 15px;
          padding: 2px 10px;
          border-radius: 20px;
          margin-left: auto;
          outline: none;
          transition: 0.4s;

          &:hover {
            background-color: #007bbb;
            color: white;
            transition: 0.4s;
          }
        }

        input[type="file"] {
          display: none;
        }

        i {
          color: #007bbb;
          padding: 7px;
          border-radius: 50%;
          transition: 0.4s;

          &:hover {
            background-color: white;
            transition: 0.4s;
          }
        }
      }
    }

    &_notMargin {
      margin-top: -20px;
    }
  }
}
