@media screen and (min-width:1024px) {
  .crafes_contestGuideline {
    padding: 4vh 4vw;

    h1 {
      font-size: 28px;
    }

    hr {
      border: 0;
      border: 1px #2C4E53 solid;
      margin: 16px 0;
    }

    ul {
      padding-left: 2em;
    }
  }
}
