@media screen and (min-width:1024px) {
  .home .forUsSection {
    text-align: center;
    &-title {
      font-size: 30px;
    }
    font-size: 16px;
    p{
      margin-top: 5px;
    }
    margin-bottom: 100px;
  }
}
