@media screen and (min-width:1024px) {
  .components_managesInfoBar {
    height: 100vh;
    background-color: white;
    border-left: 2px darkgray solid;

    &_sectionTitle {
      font-size: 20px;
      padding: 4% 0;
      padding-left: 8%;
    }

    &_newUsers {

      &_box {
        display: flex;
        align-items: center;
        padding: 12px 20px;

        border-bottom: 2px darkgray solid;
        a {
          display: block;
          width: 16%;
        }
        img {
          width: 80%;
          border-radius: 50%;
          border: 1px darkgray solid;
        }
      }

    }
  }
}
